{{ define "main" }}

{{ if gt .ReadingTime 1 }}
    {{ .Scratch.Set "readingTime" "minutes" }}
{{ else }}
    {{ .Scratch.Set "readingTime" "minute" }}
{{ end }}

{{ $author := index .Site.Data.authors .Params.author }}


{{ $imagePath := printf "images/answers/%s" .Params.feature }}
{{ $image := resources.Get $imagePath }}

  <section class="w-full text-gray-600 body-font">
    <div class=" mx-auto flex flex-col">
      <div class="w-full md:rounded-lg overflow-hidden bg-cover shadow flex flex-col items-start justify-end align-bottom pb-5 pl-5" style="height:65vh;background-image:linear-gradient(180deg, rgba(0,0,0,0), rgba(243,244,246,1)),url('{{ ($image.Resize "1200x q65 jpg").RelPermalink }}')">
        <h1 class="text-black">{{ .Title }}</h1>
        <div class="w-full md:w-5/12 flex flex-row justify-evenly lg:justify-between">
          <span class="inline-flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            &nbsp;{{ .ReadingTime }} {{ .Scratch.Get "readingTime" }}
          </span>
          <span class="inline-flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
            &nbsp;{{ $author.name }}
          </span>
          <span class="inline-flex flex-row">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            &nbsp;{{ .Date.Format "January 2, 2006" }}
          </span>
        </div>
      </div>

      {{ with .Params.description }}
        <span class="block text-2xl md:text-3xl m-5 md:my-10 md:mx-20 font-serif italic">
          {{ . }}
        </span>
      {{ end }}

      <div class="w-full lg:w-2/3 px-2 lg:px-0 mx-auto flex flex-col">
        <div class="w-full mt-4 pt-4 sm:mt-0 text-xl">
          {{ .Content }}
        </div>

        <hr class="break">

        {{ partial "social-share" . }}

        <hr class="break">

        {{ partial "author-block" . }}

      </div>
    </div>
  </section>
  
{{ end }}