<!DOCTYPE html>
<html>
  <head>
  	<title>
			{{- partial "title" . -}}&nbsp;|&nbsp;{{- .Site.Title -}}
		</title>

    {{ hugo.Generator }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="{{ $.Site.Params.Author }}">

    {{- with $.Params.description -}}
      <meta name="description" content="{{ . }}">
      <meta itemprop="description" content="{{ . }}" />
      <meta property="og:description" content="{{ . }}" />
      <meta name="twitter:description" content="{{ . }}" />
    {{- end -}}

    {{- with $.Params.tags -}}
      <meta content="{{ delimit . ", " }}" name="keywords">
    {{- end -}}

    <meta property="og:title" content="{{ .Title }} | {{ $.Site.Title }}" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    <base href="{{ .Permalink }}" />
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    <meta name="url" content="{{ .Permalink }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />

    <meta itemprop="image" content="{{ .Site.BaseURL }}/images/og-image.jpg" />
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/og-image.jpg" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/twitter-img.jpg" />
    <meta name="twitter:image:src" content="{{ .Site.BaseURL }}/images/twitter-img.jpg" />

    <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
    <link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

    {{ with .OutputFormats.Get "RSS" }}
      <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {{ partial "head" }}

    {{ partial "head-inject" }}
  </head>

  <body class="bg-gray-100" style="overflow:overlay">
  	
  	{{ partial "navigation" . }}
    {{ partial "drawer" . }}

    {{ if .IsHome }}
      {{ partial "hero" . }}
    {{ end }}

  	<div class="lg:container lg:mx-auto lg:px-56 mt-10">
      {{ block "main" . }}{{ end }}
    </div>

    {{ partial "footer" . }}

    {{ partial "body-inject" }}

    <div class="fixed top-0 right-0 left-0 bottom-0 z-30 hidden" style="background:rgba(0,0,0,0.75)" onclick="closeNav()" id="overlay"></div>
  </body>
</html>