{{ define "main" }}
  <section class="w-full lg:w-2/3 mx-auto px-5 lg:px-0 text-gray-600 body-font text-xl">
    <h1>{{ .Title }}</h1>

    <div >
      {{ .Content }}
    </div>

  </section>
{{ end }}