{{ $author := index .Site.Data.authors .Params.author }}

<h3 class="mb-0">About the Author</h3>
<hr class="mb-2 border-0 rounded-full bg-gradient-to-r from-gray-600 to-transparent h-1 w-1/6">
<div class="w-full md:w-4/5 my-5 flex flex-col pl-5 md:pl-0 md:flex-row">
  <img src="{{ .Site.BaseURL }}/images/authors/{{ $author.avatar }}" height="150" width="150" alt="{{ $author.name }}" class="rounded-full ring-4 ring-red-300 shadow mb-5 mr-5 h-32 w-32">
  <span class="inline-flex flex-col">
    <h4 class="text-lg mb-0">{{ $author.name }}</h4>
    <a hreef="{{ $author.url }}" target="_blank" class="text-sm italic cursor-pointer no-underline hover:underline text-gray-400">{{ $author.url }}</a>
    <span class="inline-flex flex-row my-2">
      {{ with $author.social }}
        {{ with .facebook }}
          <a href="https://www.facebook.com/{{ . }}" target="_blank" >
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="transition-all duration-200 text-facebook h-5 w-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
        {{ end }}
        {{ with .twitter }}
          <a href="https://www.twitter.com/{{ . }}" target="_blank" class="ml-3 ">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="transition-all duration-200 text-twitter h-5 w-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
        {{ end }}
        {{ with .instagram }}
          <a href="https://www.instagram.com/lutherananswers" target="_blank" class="ml-3 ">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="transition-all duration-200 text-instagram h-5 w-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
        {{ end }}
        {{ with .youtube }}
          <a href="{{ . }}" target="_blank" class="ml-3 ">
            <svg class="transition-all duration-200 h-5 w-5 fill-current text-youtube" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
            </svg>
          </a>
        {{ end }}
      {{ end }}
    </span>
    <p class="font-bold text-gray-400">{{ $author.bio }}</p>
  </span>
</div>