{{ $img := resources.Get "/images/bison.jpg" }}

<section class="text-gray-600 body-font bg-gradient-to-br from-red-300 to-red-500 mt-5 container-break">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h2 class="title-font font-medium text-3xl text-gray-900">Summa Theoligiae</h2>
      <p class="leading-relaxed mt-4 text-xl md:w-2/3 text-black">A weekly newsletter with interesting articles, fun tid-bits, and summaries of the latest questions we've answered!</p>
    </div>
    <div class="lg:w-2/6 md:w-1/2 h-80 rounded-lg p-8 flex flex-col justify-center align-middle md:ml-auto w-full mt-10 md:mt-0 shadow" style="background-image:url('{{ ($img.Resize "500x q65 jpg").RelPermalink }}')">
      
<div id="mlb2-4079680" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-4079680">
  <div class="ml-form-align-center">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/h4g8u4" data-code="h4g8u4" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow ml-last-item">
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <input aria-label="email" aria-required="true" type="email" class="form-control w-full m-0 px-10 py-3 rounded-full border-0 ring-0 focus:ring-0 bg-gray-200 focus:bg-white" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
              </div>
            </div>
          </div>
          <input type="hidden" name="ml-submit" value="1">
          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary w-full bg-indigo-800 hover:bg-indigo-600 text-white capitalize font-semibold text-lg my-5 px-10 py-3 rounded-lg">Subscribe today!</button>
            <button disabled="disabled" style="display:none" type="button primary w-full bg-indigo-800  text-white capitalize font-semibold text-lg my-5 px-10 py-3 rounded-lg" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> </button>
            <p class="text-xs text-white text-center" style="text-shadow:0 0 3px rgba(0,0,0,0.75)">Your Information Is Secure 🔒</p>
          </div>
          <input type="hidden" name="anticsrf" value="true">
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display:none">
        <div class="ml-form-successContent">
          <h4 class="text-white">Thank you!</h4>
          <p class="text-white">You have successfully joined our subscriber list.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</section>

<script>
  function ml_webform_success_4079680(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-4079680 .row-success").show(),r(".ml-subscribe-form-4079680 .row-form").hide()}
</script>
<img src="https://track.mailerlite.com/webforms/o/4079680/h4g8u4?v1621077192" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>