<hr class="mt-20 w-10/12 mx-auto bg-gradient-to-r from-transparent to-transparent via-black h-px border-none">

<footer class="text-gray-600 bg-white bg-opacity-70 bg-blend-overlay bg-center bg-cover" style="background-image:url('{{ .Site.BaseURL }}/images/last-supper.jpg');">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col lg:flex-row items-center md:text-left text-center order-first">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 uppercase tracking-widest text-sm mb-3">Our Website</h2>
        <nav class="list-none mb-10">
          {{ range .Site.Menus.top }}
            <li>
              <a href="{{ .URL }}" class="text-gray-600 hover:text-gray-800">{{ .Name }}</a>
            </li>
          {{ end }}
          {{ range .Site.Menus.secondary }}
            <li>
              <a href="{{ .URL }}" class="text-gray-600 hover:text-gray-800">{{ .Name }}</a>
            </li>
          {{ end }}
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest uppercase text-sm mb-3">Legal</h2>
        <nav class="list-none mb-10">
          {{ range .Site.Menus.meta }}
            <li>
              <a href="{{ .URL }}" class="text-gray-600 hover:text-gray-800">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
            </li>
          {{ end }}
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 uppercase tracking-widest text-sm mb-3">Topics</h2>
        <nav class="list-none mb-10">
          <!-- make sure you limit this range later lol -->
          {{- range .Site.Taxonomies.categories -}}
            <li>
              <a href="{{ .Page.Permalink }}" class="capitalize text-gray-600 hover:text-gray-800">
                {{ .Page.Title }}
              </a>
            </li>
          {{- end -}}
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">SUBSCRIBE</h2>

        <div id="mlb2-4216807" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-4216807 inline">
          <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
            <form class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/e0f2y1" data-code="e0f2y1" method="post" target="_blank">
              <div class="ml-form-formContent flex flex-nowrap justify-center items-end md:justify-start">
                <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
                  <label for="footer-field" class="leading-7 text-sm text-gray-600">Email Address</label>          
                  <input aria-label="email" aria-required="true" type="email" class="form-control w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-transparent focus:ring-2 focus:ring-yellow-200 focus:border-yellow-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" data-inputmask="" name="fields[email]" placeholder="" autocomplete="email">
                </div>

                <input type="hidden" name="ml-submit" value="1">
                <div class="ml-form-embedSubmit">
                  <button type="submit" class="primary lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded">Subscribe</button>
                  <button disabled="disabled" style="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> </button>
                </div>
                <input type="hidden" name="anticsrf" value="true">
              </div>
            </form>
          </div>
          <div class="ml-form-successBody row-success" style="display:none">
            <div class="ml-form-successContent">
              <p>You have successfully subscribed!</p>
            </div>
          </div>
        </div>

        <script>
          function ml_webform_success_4216807(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-4216807 .row-success").show(),r(".ml-subscribe-form-4216807 .row-form").hide()}
        </script>
        <img src="https://track.mailerlite.com/webforms/o/4216807/e0f2y1?v1622904856" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
        <script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>

        <p class="text-gray-500 text-sm mt-2 md:text-left text-center">🔒 We will never share or sell your information.</p>
      </div>
    </div>
  </div>
  <div class="bg-gray-300">
    <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
      <a href="{{ .Site.BaseURL }}" target="_blank" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="{{ .Site.BaseURL }}/images/footer-logo.png" class="w-10 h-10 bg-white rounded-full">
        <span class="ml-3 text-xl">Lutheran Answers</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4 mb-0">© {{ dateFormat "2006" now }} Lutheran Answers —
        <a href="https://twitter.com/bloodconquered" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@bloodconquered</a>
      </p>
      
      {{ partial "social" (dict "context" . "size" "5") }}

    </div>
  </div>
</footer>