<div class="w-full bg-center bg-cover h-128" style="background-image: url('{{ .Site.BaseURL }}/images/baptism.jpg');">
  <div class="flex items-center justify-around w-full h-full bg-gray-900 bg-opacity-50">
    <div class="text-left w-full md:w-1/2">
      <h2 class="text-2xl font-semibold text-white uppercase lg:text-3xl mx-10 lg:mx-0">How can we help?</h2>

      <form class="relative my-5" action="{{ .Site.BaseURL }}/search/" method="GET">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg class="w-5 h-5 text-gray-600" viewBox="0 0 24 24" fill="none">
            <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </span>

        <input name="q" type="text" class="w-full text-2xl py-3 pl-12 pr-4 text-gray-700 placeholder-gray-500 bg-gray-200 border-0  outline-none focus:outline-none focus:ring-0 focus:bg-white rounded-full focus:shadow" placeholder="Ask Away">
      </form>

    </div>
  </div>
</div>