<nav class="bg-white shadow sticky top-0 z-30">
  <div class="container flex-row px-6 py-4 mx-auto flex lg:justify-between lg:items-center">
    <div class="lg:flex lg:items-center">
      <div class="flex items-center justify-between">
        <div>
          <a class="text-2xl font-bold text-gray-800  lg:text-3xl hover:text-gray-700 " href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL }}/images/logo.svg" class="h-14">
          </a>
        </div>
      </div>

      <div id="navigation" class="flex flex-col text-gray-600 capitalize lg:flex lg:px-16 lg:-mx-4 lg:flex-row lg:items-center hidden">

        {{ range .Site.Menus.top }}
          <a href="{{ .URL }}" class="my-2 lg:my-0 lg:mx-4 hover:text-black">{{ .Name }}</a>
        {{ end }}

        {{ partial "donate-button" . }}
        
        <form class="relative mt-4 lg:mt-0 lg:mx-4" action="{{ .Site.BaseURL }}/search/" method="GET">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="w-4 h-4 text-gray-600" viewBox="0 0 24 24" fill="none">
                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </span>

            <input name="q" type="text" class="w-full py-1 pl-10 pr-4 text-gray-700 placeholder-gray-300 bg-white border-0 border-b border-gray-300 lg:w-56 focus:outline-none focus:ring-0 focus:border-gray-600" placeholder="Search">
        </form>

      </div>
    </div>

    <div class="flex justify-center items-center text-center mt-6 lg:flex lg:mt-0 lg:ml-auto lg:mr-10 hidden lg:block">
      {{ partial "social" (dict "context" . "size" "5") }}
    </div>

    <!-- Mobile menu button -->    
    <span class="inline-block ml-auto lg:ml-0">
      <div class="flex flex-col text-center items-center">
        <button type="button" class="text-gray-600  hover:text-black  focus:outline-none focus:text-gray-600 " aria-label="toggle menu" onclick="openNav()">
          <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
          </svg>
        </button>
        <span class="text-xs">Menu</span>
      </div>
    </span>

  </div>
</nav>