{{ define "main" }}

	<h1 class="max-w-2xl">{{ .Title }}</h1>

	<div class="w-full p-5 lg:w-1/2 text-lg text-gray-500">
		{{ .Content }}
	</div>

	{{ if .Parent.IsHome }}

		<h2 class="text-2xl text-gray-700 mt-7 mb-7">Book of Concord by Section</h2>

		<section class="flex flex-wrap items-start">
			{{ range .Data.Pages }}
				{{ .Render "summary" }}
		  {{ end }}
		</section>

	{{ else }}

		<section class="flex flex-wrap items-start">
  		{{ range .Page.Pages }}
				{{ .Render "summary" }}
			{{ end }}
		</section>

	{{ end }}

	{{ partial "pagination.html" . }}

{{ end }}