{{ define "main" }}

{{ if gt .ReadingTime 1 }}
    {{ .Scratch.Set "readingTime" "minutes" }}
{{ else }}
    {{ .Scratch.Set "readingTime" "minute" }}
{{ end }}


{{ $imagePath := printf "images/concord/%s" .Params.feature }}
{{ $image := resources.Get $imagePath }}

  <section class="w-full text-gray-600 body-font">
    <div class=" mx-auto flex flex-col">
      <div class="w-full md:rounded-lg overflow-hidden bg-cover shadow flex flex-col items-start justify-end align-bottom pb-5 pl-5" style="height:65vh;background-image:linear-gradient(180deg, rgba(0,0,0,0), rgba(243,244,246,1)),url('{{ ($image.Resize "1200x q65 jpg").RelPermalink }}')">
        <h1 class="text-black">{{ .Title }}</h1>
      </div>

      {{ with .Params.description }}
        <span class="block text-2xl md:text-3xl m-5 md:my-10 md:mx-20 font-serif italic">
          {{ . }}
        </span>
      {{ end }}

      <div class="w-full lg:w-2/3 px-2 lg:px-0 mx-auto flex flex-col">
        <div class="w-full mt-4 pt-4 sm:mt-0 text-xl">
          {{ .Content }}
        </div>

        <hr class="break">

        {{ partial "social-share" . }}

      </div>
    </div>
  </section>
  
{{ end }}