{{ if (isset .Params "feature") }}
  {{ .Scratch.Set "feature" .Params.feature }}
{{ else }}
  {{ .Scratch.Set "feature" "stand-in.png" }}
{{ end }}

{{ $feature := .Scratch.Get "feature" }}

{{ $imagePath := printf "images/concord/%s" $feature }}
{{ $image := resources.Get $imagePath }}

<div class="relative flex items-center justify-center m-3 overflow-hidden shadow hover:shadow-xl w-full md:w-72 h-48 rounded-lg">
  <a href="{{ .Permalink }}" class="absolute w-full h-full transition-all duration-200 ease-in-out transform bg-center bg-cover hover:scale-110 bg-blend-overlay bg-gray-700 hover:bg-gray-500 flex justify-center items-center flex-col" style="background-image:url('{{ ($image.Resize "500x q75 jpg").RelPermalink }}');text-shadow:0 0 5px rgba(0,0,0,0.8)">
    <h3 class="text-white text-center py-10 px-5">
      {{ .Title }}
    </h3>
  </a>
</div>

<!--    my-5 mx-2   rounded-lg shadow cursor-pointer  transition-all duration-200 -->